@page
@model WidraSoftCloud.UI.PasswordModel
@{
    ViewData["Title"] = "Authentification";
    Layout = null;
}

<p style="text-align:center;"><img src="~/cloud-data.png" alt="Icon Image" style="margin-bottom:-15px;" /></p>
<br />
<body style="background-color:transparent;">
    <div style="display: block; opacity:initial; background-color: white; width: 400px; height: auto; border: groove; border-color: #0bb963; border-radius: 5px 6px; box-shadow: 5px 3px inset; margin: auto; ">

        <p style="text-align:center;"><img src="~/fav_Widra-114.png" alt="Icon Image" style="padding-bottom:5px;" /></p>
        <hr />
        <hr />
        <h3 style="text-align:center;">Entrez vos identifiants</h3>
        <hr />
        <hr />
        <div>
            <form method="post">
                <p style="text-align:center; font-size:15px;">
                    Utilisateur:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 250px; background-color:mintcream; border-width:1px; border-color: #0bb963; border-radius: 1px 1px;" type="text" asp-for="UserLogin" /> <br /><br />
                    Mot de passe:&nbsp;<input style="width: 250px; background-color: mintcream; border-width: 1px; border-color: #0bb963; border-radius: 1px 2px; " type="password" asp-for="UserPassword" /> <br /><br />
                    &nbsp;&nbsp;&nbsp;<input style="border-width: 1px; background-color: #0bb963; color: white; border-radius: 3px 4px; height:30px;" type="submit" value="Se connecter" name="bt_connecter"/>
                </p>
            </form>
        </div>
    </div>
    <footer><p style="text-align: center;"><a href="https://www.widra.com" style="color: #0bb963;">Visitez notre site web</a></p></footer>
</body>