@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WidraSoft-Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="color: #0bb963; font-size: large; font-family: Condiment; font-weight: bold; font-size: 30px; padding-top: 10px;" class="navbar-brand" asp-area="" asp-page="/Home"> <img src="~/fav_Widra-57.png" alt="Icon Image" style="padding-bottom:5px;" /> WidraSoft-Cloud</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link text-dark" asp-area="" asp-page="/Utilisateurs/Index">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link text-dark" asp-area="" asp-page="/Pesages/Index">Pesages</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link text-dark" asp-area="" asp-page="/Licence">Paramètres</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size: 14px; padding-left:25em;" class="nav-link text-dark" asp-area="" asp-page="/Password"> <img src="~/user.png" alt="Icon Image" style="padding-bottom:5px;" /> @Html.Raw(httpContextaccessor.HttpContext.Request.Cookies["UsernameCookie"])</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WidraSoftCloud - <a style="color:#0bb963;" href="https://widra.com">Visitez notre site web</a> - <a style="color:#0bb963;" asp-page="/Password">Se deconnecter</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
